In [15]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.llms.openai import OpenAI

In [16]:
import os
from dotenv import load_dotenv
load_dotenv()
OPENAI_API_KEY = os.getenv('OPENAI_API_KEY')

In [17]:
llm=OpenAI(temperature=0)
db = SQLDatabase.from_uri("sqlite:///./rwa_data.db")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [21]:
agent_executor = create_sql_agent(
    llm=OpenAI(temperature=0),
    toolkit=toolkit,
    verbose=True # use verbose=True for detailed step-by-step output
)

In [7]:
agent_executor.run("What is the total RWA and EAD per SEGMENT in the RWA_122022 table")

'The total RWA and EAD per SEGMENT in the RWA_122022 table are Corporate: 85075812.12498187, 156657332.34921697 and Retail: 37806680.90001285, 165698955.81288758.'

In [27]:
# agent_executor.run("What is the total EXPOSURE in RWA_122022 of all clients that changed their STATUS from Performing to Non Performing between RWA_122022 table and RWA_032023 table")
agent_executor.run("What is the sum of all EXPOSURE in RWA_122022 where the ACCOUNT_NUMBER STATUS changed from Performing to Non Performing between RWA_122022 table and RWA_032023 table")

> Entering new  chain...
Action: sql_db_list_tables
Action Input:
Observation: RWA_122022, RWA_032023
Thought: I should query the schema of the two tables to see what columns I can use.
Action: sql_db_schema
Action Input: RWA_122022, RWA_032023
Observation:
CREATE TABLE "RWA_032023" (
	"CLIENT_NUMBER" TEXT,
	"ACCOUNT_NUMBER" TEXT,
	"PRODUCT" TEXT,
	"STATUS" TEXT,
	"SEGMENT" TEXT,
	"EXPOSURE_DRAWN" REAL,
	"EXPOSURE_UNDRAWN" REAL,
	"EXPOSURE" REAL,
	"EAD" REAL,
	"EAD_COLL" REAL,
	"PD" REAL,
	"LGD" REAL,
	"SIZE" TEXT,
	"MATURITY" REAL,
	"F_MORTGAGE" TEXT,
	"F_REVOLVING" TEXT,
	"F_LARGE_FIN" TEXT,
	"RW" REAL,
	"RWA" REAL
)

/*
3 rows from RWA_032023 table:
CLIENT_NUMBER	ACCOUNT_NUMBER	PRODUCT	STATUS	SEGMENT	EXPOSURE_DRAWN	EXPOSURE_UNDRAWN	EXPOSURE	EAD	EAD_COLL	PD	LGD	SIZE	MATURITY	F_MORTGAGE	F_REVOLVING	F_LARGE_FIN	RW	RWA
ihpod330vr7103	1552140532ytcj27	INVESTMENT	Performing	Corporate	125061.0838	0.0	125061.0838	126810.7562	126810.7562	0.0465595	0.0	2.825097816	5.0	N	N	N	0.0	0.0
clvzn679th3420	6652474791hjut82	INVESTMENT	Performing	Retail	228739.9079	0.0	228739.9079	231937.8624	231937.8624	0.2602707	0.15	0.398918534	5.0	Y	N	N	0.925965504	214766.4597
foyrx385za4907	4224264131qttz91	INVESTMENT	Performing	Retail	29043.95989	0.0	29043.95989	29093.26438	0.0	0.01914	0.5753	0.043250677	5.0	N	N	N	0.777036669	22606.53326
*/


CREATE TABLE "RWA_122022" (
	"CLIENT_NUMBER" TEXT,
	"ACCOUNT_NUMBER" TEXT,
	"PRODUCT" TEXT,
	"STATUS" TEXT,
	"SEGMENT" TEXT,
	"EXPOSURE_DRAWN" REAL,
	"EXPOSURE_UNDRAWN" REAL,
	"EXPOSURE" REAL,
	"EAD" REAL,
	"EAD_COLL" REAL,
	"PD" REAL,
	"LGD" REAL,
	"SIZE" REAL,
	"MATURITY" REAL,
	"F_MORTGAGE" TEXT,
	"F_REVOLVING" TEXT,
	"F_LARGE_FIN" TEXT,
	"RW" REAL,
	"RWA" REAL
)

/*
3 rows from RWA_122022 table:
CLIENT_NUMBER	ACCOUNT_NUMBER	PRODUCT	STATUS	SEGMENT	EXPOSURE_DRAWN	EXPOSURE_UNDRAWN	EXPOSURE	EAD	EAD_COLL	PD	LGD	SIZE	MATURITY	F_MORTGAGE	F_REVOLVING	F_LARGE_FIN	RW	RWA
sfman997ux8036	1324710203qiph20	CREDIT_CARD	Performing	Retail	0.0	18728.13876	18728.13876	11004.65713	0.0	0.0246518	0.3092	42.58029755	1.15616438	N	Y	N	0.245013691	2696.291657
onvse705ca9217	1850135799zydg91	MORTGAGE	Performing	Retail	103838.774	0.0	103838.774	105912.2147	55687.82851	0.0056956	0.197270397	44.9952041	5.0	Y	N	N	0.17857894	18913.69105
icbpv275om2612	6219058663wnxv78	CONSUMER	Performing	Retail	4880.214964	0.0	4880.214964	4907.859563	0.0	0.173298	0.2218	44.9952041	2.10684932	N	N	N	0.493066855	2419.902879
*/
Thought: I should query the RWA_122022 and RWA_032023 tables to find the accounts that changed from Performing to Non Performing between the two tables.
Action: sql_db_query
Action Input: SELECT ACCOUNT_NUMBER FROM RWA_122022 WHERE STATUS = 'Performing' AND ACCOUNT_NUMBER IN (SELECT ACCOUNT_NUMBER FROM RWA_032023 WHERE STATUS = 'Non Performing')
Observation: [('9949846894mqqb38',), ('8589346566omjm76',), ('3939009254tfzg85',), ('6572063347hjeb20',), ('8888826809jvcg55',), ('2495047535ewfk71',), ('3327992248wyhg31',), ('4271177801gmpp50',), ('4659898429miyb20',), ('4712033057jwab19',), ('9960431785dctn31',), ('2129961401ercj54',)]
Thought: I should query the sum of EXPOSURE for the accounts that changed from Performing to Non Performing between the two tables.
Action: sql_db_query
Action Input: SELECT SUM(EXPOSURE) FROM RWA_122022 WHERE ACCOUNT_NUMBER IN (SELECT ACCOUNT_NUMBER FROM RWA_032023 WHERE STATUS = 'Non Performing' AND ACCOUNT_NUMBER IN (SELECT ACCOUNT_NUMBER FROM RWA_122022 WHERE STATUS = 'Performing'))
Observation: [(575151.3173016,)]
Thought: I now know the final answer
Final Answer: The sum of all EXPOSURE in RWA_122022 where the ACCOUNT_NUMBER STATUS changed from Performing to Non Performing between RWA_122022 table and RWA_032023 table is 575151.3173016.

> Finished chain.

'The sum of all EXPOSURE in RWA_122022 where the ACCOUNT_NUMBER STATUS changed from Performing to Non Performing between RWA_122022 table and RWA_032023 table is 575151.3173016.'

In [19]:
agent_executor.run("What is the EXPOSURE of Client 'sfman997ux8036' in RWA_122022 table")

"The exposure of Client 'sfman997ux8036' in RWA_122022 table is 18728.13876."

#### Function calling

In [10]:
from langchain import SQLDatabase, SQLDatabaseChain
from langchain.agents import initialize_agent, Tool
from langchain.agents import AgentType
from langchain.chat_models import ChatOpenAI

from rw_formula import RW_Calc

In [11]:
llm = ChatOpenAI(temperature=0, model="gpt-3.5-turbo-0613")
db = SQLDatabase.from_uri("sqlite:///./rwa_data.db")
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
tools = [
    Tool(
        name="risk weight calculator",
        func=RW_Calc,
        description=
        """calculates a loan risk weight give the argulamts: 
        Segment - Possible values are 'Bank', 'Corporate', and 'Retail'), 
        PD - Probability of Default
        LGD - Loss Given Default
        m - Remaining maturity of the loan in years
        Large_Fin - If 'Y' the client is a Flag for Large Financial Institution, otherwise 'N'
        size - size of the client in MEUR, usually this is the client's turnover
        mortgage - If 'Y' the exposure is a mortgage loan, otherwise 'N'
        revolving - If 'Y' the exposure is a revolving loan, otherwise 'N'
        """
    ),    
    Tool(
        name="rwa_db",
        func=db_chain.run,
        description="useful for quering a database"
    )
]

In [12]:
agent = initialize_agent(tools, llm, agent="zero-shot-react-description", verbose=True)

In [14]:
agent.run("Read all the information for Client 'sfman997ux8036' in RWA_122022 table and then what is the RW if PD doubles")

> Entering new  chain...
I need to query the RWA_122022 table to get the information for Client 'sfman997ux8036'. Then I need to calculate the risk weight if the PD doubles.
Action: rwa_db
Action Input: SELECT * FROM RWA_122022 WHERE Client = 'sfman997ux8036'

> Entering new  chain...
SELECT * FROM RWA_122022 WHERE Client = 'sfman997ux8036'
SQLQuery:SELECT * FROM RWA_122022 WHERE CLIENT_NUMBER = 'sfman997ux8036'
SQLResult: [('sfman997ux8036', '1324710203qiph20', 'CREDIT_CARD', 'Performing', 'Retail', 0.0, 18728.13876, 18728.13876, 11004.65713, 0.0, 0.0246518, 0.3092, 42.58029755, 1.15616438, 'N', 'Y', 'N', 0.245013691, 2696.291657)]
Answer:CLIENT_NUMBER: sfman997ux8036
ACCOUNT_NUMBER: 1324710203qiph20
PRODUCT: CREDIT_CARD
STATUS: Performing
SEGMENT: Retail
EXPOSURE_DRAWN: 0.0
EXPOSURE_UNDRAWN: 18728.13876
EXPOSURE: 18728.13876
EAD: 11004.65713
EAD_COLL: 0.0
PD: 0.0246518
LGD: 0.3092
SIZE: 42.58029755
MATURITY: 1.15616438
F_MORTGAGE: N
F_REVOLVING: Y
F_LARGE_FIN: N
RW: 0.245013691
RWA: 2696.291657
> Finished chain.

Observation: CLIENT_NUMBER: sfman997ux8036
ACCOUNT_NUMBER: 1324710203qiph20
PRODUCT: CREDIT_CARD
STATUS: Performing
SEGMENT: Retail
EXPOSURE_DRAWN: 0.0
EXPOSURE_UNDRAWN: 18728.13876
EXPOSURE: 18728.13876
EAD: 11004.65713
EAD_COLL: 0.0
PD: 0.0246518
LGD: 0.3092
SIZE: 42.58029755
MATURITY: 1.15616438
F_MORTGAGE: N
F_REVOLVING: Y
F_LARGE_FIN: N
RW: 0.245013691
RWA: 2696.291657
Thought:Now that I have the information for Client 'sfman997ux8036', I can calculate the risk weight if the PD doubles.
Action: risk weight calculator
Action Input: Segment = 'Retail', PD = 0.0246518 * 2, LGD = 0.3092, m = 1.15616438, Large_Fin = 'N', size = 42.58029755, mortgage = 'N', revolving = 'Y'
Observation: 0.3950618648985617
Thought:The risk weight if the PD doubles for Client 'sfman997ux8036' is 0.3950618648985617.
Final Answer: 0.3950618648985617

> Finished chain.

'0.3950618648985617'