In [2]:
import sqlite3
import pandas as pd

In [5]:
conn = sqlite3.connect('rwa_data.db')
c = conn.cursor()

In [13]:
list_tables = """
    SELECT name FROM sqlite_master
    WHERE type='table';
"""
c.execute(list_tables)
print(c.fetchall())

[('RWA_122022',), ('RWA_032023',)]

In [14]:
rwa_1202 = pd.read_sql('''
            SELECT * FROM RWA_122022
            ''', 
            conn
)

In [15]:
rwa_1202.head()

,CLIENT_NUMBER,ACCOUNT_NUMBER,PRODUCT,STATUS,SEGMENT,EXPOSURE_DRAWN,EXPOSURE_UNDRAWN,EXPOSURE,EAD,EAD_COLL,PD,LGD,SIZE,MATURITY,F_MORTGAGE,F_REVOLVING,F_LARGE_FIN,RW,RWA
0,sfman997ux8036,1324710203qiph20,CREDIT_CARD,Performing,Retail,0.000000,18728.13876,18728.138760,11004.657130,0.00000,0.024652,0.30920,42.580298,1.156164,N,Y,N,0.245014,2696.291657
1,onvse705ca9217,1850135799zydg91,MORTGAGE,Performing,Retail,103838.774000,0.00000,103838.774000,105912.214700,55687.82851,0.005696,0.19727,44.995204,5.000000,Y,N,N,0.178579,18913.691050
2,icbpv275om2612,6219058663wnxv78,CONSUMER,Performing,Retail,4880.214964,0.00000,4880.214964,4907.859563,0.00000,0.173298,0.22180,44.995204,2.106849,N,N,N,0.493067,2419.902879
3,ybmbx119zx4306,7377738634wcur96,REVOLVING,Performing,Retail,4750.102454,38791.87458,43541.977040,26380.713480,0.00000,0.371520,0.63100,0.165181,1.000000,N,N,N,1.771476,46732.802610
4,zedzi814ms9207,7056331781sxng56,CREDIT_CARD,Performing,Retail,0.000000,3830.21812,3830.218120,1573.836625,0.00000,0.010971,0.54900,0.415023,1.000000,N,N,N,0.615273,968.339510